@media (min-width: 320px) and (max-width: 668px){
    .aside__options01{
        display: block;
        width: 100vw;
        height: 550px;
        top: 850px; 
        z-index: 2;
    }
    .option01_image{
        width: 85vw;
        height: 130px;
        margin-bottom: 45px;
        top: 40px;
        left: 5%;
        border: 2px solid rgb(84, 83, 83);
    }
    .img01{
        background-image: url(../Img-mobile/image-deep-earth.jpg);   
    }
    .img01:hover{
        position: relative;
        top: 10px;
        transition: all 0.4s ease;
    }
    .img02{
        background-image: url(../Img-mobile/image-night-arcade.jpg); 
    }
    .img02:hover{
        position: relative;
        top: 10px;
        transition: all 0.4s ease;
    }
    .img03{
        background-image: url(../Img-mobile/image-soccer-team.jpg);   
    }
    .img03:hover{
        position: relative;
        top: 10px;
        transition: all 0.4s ease;
    }
    .img04{
        background-image: url(../Img-mobile/image-grid.jpg);   
    }
    .img04:hover{
        position: relative;
        top: 10px;
        transition: all 0.4s ease;
    }
    .aside__options02{
        display: block;
        width: 100vw;
        height: 550px;
        top: 1555px; 
    }
    .option02_image{
        width: 85vw;
        height: 130px;
        margin-bottom: 45px;
        top: 40px;
        left: 5%;
        border: 2px solid rgb(84, 83, 83);
    }
    .img05{
        background-image: url(../Img-mobile/image-from-above.jpg);   
    }
    .img05:hover{
        position: relative;
        top: 10px;
        transition: all 0.4s ease;
    }
    .img06{
        background-image: url(../Img-mobile/image-pocket-borealis.jpg);   
    }
    .img06:hover{
        position: relative;
        top: 10px;
        transition: all 0.4s ease;
    }
    .img07{
        background-image: url(../Img-mobile/image-curiosity.jpg);   
    }
    .img07:hover{
        position: relative;
        top: 10px;
        transition: all 0.4s ease;
    }
    .img08{
        background-image: url(../Img-mobile/image-fisheye.jpg);   
    }
    .img08:hover{
        position: relative;
        top: 10px;
        transition: all 0.4s ease;
    }
    .option__p{
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 1.1;
        padding-bottom: 10px;
        padding-left: 27px;
        opacity: 0.95;
    }
}

@media (min-width: 668px) and (max-width: 869px){
    .aside__options01{
        display: block;
        width: 100vw;
        height: 600px;
        top: 850px; 
        z-index: 2;
    }
    .option01_image{
        width: 75vw;
        height: 130px;
        margin-bottom: 45px;
        top: 40px;
        left: 10%;
        border: 2px solid rgb(84, 83, 83);
    }
    .img01{
        background-image: url(../Img-mobile/image-deep-earth.jpg);   
    }
    .img01:hover{
        position: relative;
        top: 10px;
        transition: all 0.4s ease;
    }
    .img02{
        background-image: url(../Img-mobile/image-night-arcade.jpg);   
    }
    .img02:hover{
        position: relative;
        top: 10px;
        transition: all 0.4s ease;
    }
    .img03{
        background-image: url(../Img-mobile/image-soccer-team.jpg);   
    }
    .img03:hover{
        position: relative;
        top: 10px;
        transition: all 0.4s ease;
    }
    .img04{
        background-image: url(../Img-mobile/image-grid.jpg);   
    }
    .img04:hover{
        position: relative;
        top: 10px;
        transition: all 0.4s ease;
    }
    .aside__options02{
        display: block;
        width: 100vw;
        height: 600px;
        top: 1555px; 
    }
    .option02_image{
        width: 75vw;
        height: 130px;
        margin-bottom: 45px;
        top: 40px;
        left: 10%;
        border: 2px solid rgb(84, 83, 83);
    }
    .img05{
        background-image: url(../Img-mobile/image-from-above.jpg);   
    }
    .img05:hover{
        position: relative;
        top: 10px;
        transition: all 0.4s ease;
    }
    .img06{
        background-image: url(../Img-mobile/image-pocket-borealis.jpg);   
    }
    .img06:hover{
        position: relative;
        top: 10px;
        transition: all 0.4s ease;
    }
    .img07{
        background-image: url(../Img-mobile/image-curiosity.jpg);   
    }
    .img07:hover{
        position: relative;
        top: 10px;
        transition: all 0.4s ease;
    }
    .img08{
        background-image: url(../Img-mobile/image-fisheye.jpg);   
    }
    .img08:hover{
        position: relative;
        top: 10px;
        transition: all 0.4s ease;
    }
    .option__p{
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 1.1;
        padding-bottom: 10px;
        padding-left: 33px;
        opacity: 0.95;
    }
}

@media (min-width: 869px) and (max-width: 1024px){
    .aside__options01{
        width: 90vw;
        height: 550px;
        position: absolute;
        top: 850px; 
    }
    .option01_image{
        width: 225px;
        height: 430px;
        margin: 15px;
        position: relative;
        top: 90px;
        left: 5%;
    }
    .aside__options02{
        width: 90vw;
        height: 550px;
        position: absolute;
        top: 1385px

    }
    .option02_image{
        width: 225px;
        height: 430px;
        margin: 15px;
        position: relative;
        top: 60px;
        left: 5%;
    }
    .img05:hover{
        position: relative;
        top: 20px;
        transition: all 0.4s ease;
    }
    .img06:hover{
        position: relative;
        top: 20px;
        transition: all 0.4s ease;
    }
    .img07:hover{
        position: relative;
        top: 20px;
        transition: all 0.4s ease;
    }
    .img08:hover{
        position: relative;
        top: 20px;
        transition: all 0.4s ease;
    }
    
}

@media (min-width: 1024px) and (max-width: 1264px){
    .aside__options01{
        width: 90vw;
        height: 550px;
        position: absolute;
        top: 850px; 
    }
    .option01_image{
        width: 20%;
        height: 430px;
        margin: 15px;
        position: relative;
        top: 90px;
        left: 5%;
    }

    .aside__options02{
        width: 90vw;
        height: 550px;
        position: absolute;
        top: 1450px; 
    }
    .option02_image{
        width: 20%;
        height: 430px;
        margin: 15px;
        position: relative;
        top: 10px;
        left: 5%;
    }
    
    
}
