@media (min-width: 320px) and (max-width: 569px){
    .section__interactive{
        position: absolute;
        top: 60px;
        left: 70px;
        background-image: url(../Img-mobile/image-interactive.jpg);
        width: 75vw;
        height: 470px;    
    }
    article{
        position: absolute;
        top: 53%;
        left: 40px;
        background-color: white;
        width: 85vw;
        height: 40vh;
        z-index: 1;
    }
    .article__h2{
        color: black;
        font-size: 6vw;
        font-weight: 400;
        padding-top: 30px;
        padding-left: 70px;    
    }
    .article__p{
        text-align: center;
        padding: 10px 50px; 
    }
    .aside__h2{
        font-size: 6vw;
        font-weight: 400;
        text-transform: uppercase;
        position: absolute;
        top: 20%;
        left: 25%;
    }
    .aside__btn{
        font-size: 3vw;
        position: absolute;
        top: 80px;
        left: 35%;    
    }
}

@media (min-width: 570px) and (max-width: 768px){
    .section__interactive{
        position: absolute;
        top: 60px;
        left: 70px;
        background-image: url(../Img-mobile/image-interactive.jpg);
        width: 75vw;
        height: 78vh;    
    }
    article{
        position: absolute;
        top: 58%;
        left: 70px;
        background-color: white;
        width: 80vw;
        height: 42vh;
    }
    .article__h2{
        color: black;
        font-size: 35px;
        font-weight: 300;
        padding-top: 30px;
        padding-left: 18%;    
    }
    .article__p{
        text-align: center;
        padding: 10px 13% 13% 5%; 
    }
    .aside__h2{
        font-size: 5vw;
        font-weight: 400;
        text-transform: uppercase;
        position: absolute;
        top: 30%;
        left: 29%;
    }
    .aside__btn{
        font-size: 2vw;
        position: absolute;
        top: 100px;
        left: 37%;    
    }
}

/*desktop*/
@media (min-width: 769px) and (max-width: 1024px){
    .section__interactive{
        position: absolute;
        top: 60px;
        left: 50px;
        background-image: url(../Img-mobile/image-interactive.jpg);
        width: 55vw;
        height: 78vh;    
    }
    article{
        top: 34%;
        width: 52vw;
        height: 50vh;
    }
    .article__h2{
        color: black;
        font-size: 4vw;
        font-weight: 300;
        padding-top: 30px;
        padding-left: 12%;    
    }
    .article__p{
        text-align: left;
        padding: 10px 20% 20% 12%; 
    }
    .aside__h2{
        top: 20%;
    }
    .aside__btn{
        position: absolute;
        top: 25px;    
    }
    
}

/*Telas Grandes*/
@media (min-width: 1024px)and (max-width: 1226px){
    .section__interactive{
        position: absolute;
        top: 60px;
        left: 50px;
        background-image: url(../Img-mobile/image-interactive.jpg);
        width: 55vw;
        height: 88vh;    
    }
    article{
        top: 44%;
        width: 52vw;
        height: 45vh;
    }
    .article__h2{
        color: black;
        font-size: 4vw;
        font-weight: 300;
        padding-top: 30px;
        padding-left: 12%;    
    }
    .article__p{
        text-align: left;
        padding: 10px 20% 20% 12%; 
    }
}